/*body{
	background: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/85/54/9957ccc8955ec52.jpg") no-repeat center fixed;
	background-size: cover;
}

#container-button {
	width: 92%;
    height: 76%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-button2 {
	width: 92%;
    height: 76%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-class{
	border: 2px solid white;
	border-radius: 0 0 0 0;
	cursor: pointer;
	font-family: Calibria;
	padding: 10px;
	font-weight: bold;
	color: white;
	background-color: transparent;
	transition: all 1s;
}

.btn-class:hover{
	transform: scale(1.1);
}*/


p{
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/85/54/9957ccc8955ec52.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFF00;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	/*text-transform: uppercase;*/
	padding: 13%;
	font-family: 'Gloria Hallelujah', cursive;
}

.button-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.btn-secondary{
	border: black solid 2px;
	background-color: transparent;
	border-radius: 0;
	color: black;
	font-weight: bold;
	font-family: 'Source Serif Pro', serif;

}

.nav-link{
	
}